@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background: #000;
    color: #fff;
}

.stroke{
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 1px;
  color: #fff;
  font-weight: 900;
  cursor: crosshair;
} 
.stroke-1{
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 0.5px;
  color: #ffffff;
  font-weight: 400;
} 

@layer utilities {
    .css-invert {
      @apply invert-[50%] brightness-200;
    }
  
    .custom-scrollbar::-webkit-scrollbar {
      width: 3px;
      height: 3px;
      border-radius: 2px;
    }
  
    .custom-scrollbar::-webkit-scrollbar-track {
      background: #09090a;
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background: #5c5c7b;
      border-radius: 50px;
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background: #7878a3;
    }
  }
  
  /* Clerk Responsive fix */
  .cl-organizationSwitcherTrigger .cl-userPreview .cl-userPreviewTextContainer {
    @apply max-sm:hidden;
  }
  
  .cl-organizationSwitcherTrigger
    .cl-organizationPreview
    .cl-organizationPreviewTextContainer {
    @apply max-sm:hidden;
  }


.no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }